html,body
{
    margin: 0;
    padding: 0;
}
h1 
{
    margin: 0;
}
a
{
    color: inherit;
    text-decoration: none;
}
#main
{
    /*background: url("./img/bg-masthead.jpg") no-repeat;*/
    background: url("/bg-masthead.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family:  'Questrial', cursive;
    font-size: 35px;
}

#contents
{
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}

#contents h1
{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 16px;
}
#contents a
{
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;

}



.modal_wrap {
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    border: 2px solid black;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
}
.modal_background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal_wrap .text {
    margin-top: 45px;
    margin-left: 5px;
}

.modal_close .closeImg {
    display: block;
    width: 100%;
    height: 100%;
}

.modal_content
{
    font-size: 30px;
}
textarea {
    width: 90%;
    height: 7em;
    border: none;
    resize: none;
   margin-left: 5px;
  }